:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem auto;
  width: 50%;

}

form{
  display:flex ;
  flex-direction: column;
  gap: 0.25rem;
}

legend{
  background-color: #242424;
  color: white;
  padding: 3px;
}

form input{
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  background-color: #eee;
  border: 1px solid white;
}

form input[type="submit"]{
  background-color: #41A445;
  color: white;
  margin-top: 1rem;
  font-weight: 500;
}

form input[type="submit"]:hover{
  cursor: pointer;
  background-color: #459948;
}

form label{
  font-weight: 500;
  margin-top: 0.5rem;
}

.err{
  color: red;
  font-size: 0.9rem;
}

.success{
  background-color: #357BF7;
  color: white;
  margin: auto;
  width: 600px;
  text-align: center;
}
input{
  color: black;
}
